<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Details</title>
    <meta charset="UTF-8">
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .container { max-width: 400px; padding: 20px; border: 1px solid #ccc; border-radius: 5px; }
        h2 { text-align: center; }
        p { font-size: 18px; }
        a { color: blue; text-decoration: none; }
    </style>
</head>
<body>

    <div class="container"  th:if="${product}">
        <h2>Product Details</h2>
        <p><strong>ID:</strong> <span th:text="${product.id}"></span></p>
        <p><strong>Name:</strong> <span th:text="${product.name}"></span></p>
        <p><strong>Quantity:</strong> <span th:text="${product.quantity}"></span></p>
        <p><strong>Price:</strong> <span th:text="${product.price}"></span></p>
        <a href="/productList">Back to Product List</a>
    </div>
    
	<!-- Show error message if product is not found -->
	    <div class="container" th:if="${errormessage}">
	        <h2 style="color: red;">Error</h2>
	        <p th:text="${errormessage}" style="color: red;"></p>
	        <a href="/productList">Back to Product List</a>
	    </div>
</body>
</html>
